/*place global styles here */
html, body { @apply h-full overflow-hidden m-0 p-0; }
:root{
    --light-green: #6ee7b7;
    --dark-green: #022c22;
}
img, a{
    -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}
.underline{
    text-decoration: underline;
    color: var(--dark-green);
    padding: 1rem 0;
}
.bold{
    font-weight: bold;
}